<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Log in {% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

	<link rel="stylesheet" href="{{ asset('bundles/avanzuadmintheme/static/'~ app.environment ~'/styles/admin-lte-all.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/seguimocrm/css/sg-login.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/seguimocrm/css/sg-login.css') }}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <![endif]-->
</head>
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        SevillaGuifi · <i>CRM</i>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
      {% block fos_user_content %}{% endblock %}
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->


<!-- jQuery 2.0.2 -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<!-- Bootstrap -->
<!--script src="../../js/bootstrap.min.js" type="text/javascript"></script-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>